@import "../../../styles/_common.scss";


.topImage {
    width: 100%;
    height: 380px;
    text-align: center;
    font-family: $subwayFont;
    font-size: 16px;
    color: #ffffff;
    background-color: #e85a1c;
    overflow: hidden;
    .topNav {
        margin: 0 auto;
        text-align: center;
        line-height: 120%;
        height: 65px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            width: 50%;
            display: flex;
            justify-content: space-around;
            li {
                font-family: $subwayFont;
                color: #ffffff;
            }
            
        }
    }
    hr {
        background-color: #eb6b33;
        border: 0.5px solid #eb6b33;
        height: 0.5px;
        margin-top: -10px;
    }
    .upup{
        display: flex;
        flex-direction: column;
        position: relative;
        .title{
            display: inline;
            z-index: 6;
            padding-top: 4%;
            h2 {
                font-size: 70px;
                font-weight: bold;
                width: 100%;
                animation: up 0.5s forwards 0.6s;
                opacity: 0;
            }
            p {
                margin-top: 2.3%;
                line-height: 26px;
                letter-spacing: -0.04em;
                animation: up 0.6s forwards 0.7s;
                opacity: 0;
            }
        }
        .fadeInUP{
            z-index: 5;
            overflow: hidden;
            position: absolute;
            opacity: 0;
            animation: up 0.6s forwards 0.8s;
            img {
                width: 100%;
                z-index: 5;
                transform: scale(1.2);
            }
            
        }
    }
}

@keyframes up {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
    to {
       transform: translateY(0);
       opacity: 1;
    }
}
