.slick-slider {
  display: flex;
  align-items: center;
  text-align: center;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
    .menu_name {
      font-weight: 500;
      font-size: 20px;
      padding-bottom: 15px;
    }
    .menu_desc {
      font-size: 13px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.4);
      line-height: 16px;
      width: 80%;
    }
    .activeHover {
      img {
        transform: scale(1.2);
      }
      .menu_desc {
        display: none;
      }
    }
  }
}
