.Select-MenuNav {
  max-width: 1170px;
  margin: 0 auto;
  height: 59px;

  .sub-loc {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;

    .menu-wrap {
      display: flex;
      list-style: none;
      flex-wrap: nowrap;
      justify-content: space-around;
      margin: 0 290px;

      .nav-menuList {
        text-decoration: none;
        margin: 0;
        padding: 0;
        background-color: #ffffff;
        border-bottom: 1px solid #e5e5e5;
        // max-width: 500px;

        .menu-link-1 {
          text-decoration: none;
          display: block;
          line-height: 60px;
          color: #999999;
          font-size: 16px;
          position: relative;
          padding-left: 56px;
          margin: 0;
          max-width: 150px;
        }

        .menu-link {
          text-decoration: none;
          display: block;
          line-height: 60px;
          color: #999999;
          font-size: 16px;
          position: relative;
          padding-left: 30px;
          margin-left: 21px;
          max-width: 150px;

          &::after {
            content: "";
            width: 4px;
            height: 4px;
            background-color: #dddddd;
            border-radius: 30px;
            position: absolute;
            left: 0;
            top: 28px;
          }
        }
      }
    }
  }
}
