@import "../../styles/common";

.orderSummary{
    font-family: $subwayFont;
    .summaryH{
        color: #545454;
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 10px;
    }
    .pick{
        color: #545454;
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 16px;
    }
}