@import "../../styles/common";

.shop{
    background-color: #ffffff;
    font-family: $subwayFont;
    hr{
        color: $fontGrey;
    }
    .shopWrap{
        display: flex;
        justify-content: center;
        .leftSection{
            width: 55%;
            padding: 0;
            background-color: $subwayGreen;
            h1{
                font-size: 24px;
                font-weight: bold;
                //padding: 8rem;
                color: #545454;
            }
            .orderDetail{
                width: 90%;
                margin: 0 auto;
                padding-top: 2%;
                //padding-left: 5%;
                background-color: #ffffff;
            }
        }
        .rightSection{
            background-color: $subwayYellow;
            width: 25%;
            height: 100%;

        }
    }
}