@import "../../../styles/_common.scss";

.Event {
  background-image: url("http://www.subway.co.kr/images/main/bg_content.gif");

  .event_wrapper {
    margin: 0 auto;
    padding: 100px;

    .top {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;

      img {
        width: 100%;
      }

      .top_left {
        position: relative;
        h1 {
          @include mainTitle;
          top: 64px;
          left: 55px;
        }
        button {
          @include mainBtn;
          top: 196px;
          left: 48px;
        }
      }

      .top_right {
        position: relative;
        h1 {
          @include mainTitle;
          top: 64px;
          left: 408px;
        }
        button {
          @include mainBtn;
          top: 196px;
          left: 410px;
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: center;
      margin: 0 auto;

      .news {
        display: flex;
        background-color: $fontWhite;
        border-radius: 40px 0 40px 0;
        margin-right: 30px;
        width: 870px;
        height: 300px;
        padding: 0 80px;

        .news_left {
          display: flex;
          position: relative;
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;

          img {
            width: 70px;
            height: 70px;
            position: absolute;
            top: 65px;
            left: -30px;
          }

          h1 {
            font-size: 30px;
            font-weight: 600;
            letter-spacing: -1.5px;
            z-index: 1;
          }
          p {
            font-size: 16px;
            color: $fontGrey;
            padding-top: 30px;
            z-index: 1;
            line-height: 25px;
          }
        }

        .news_right {
          margin: auto 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: 0 80px;
          height: 50%;

          li {
            color: rgba(0, 0, 0, 0.8);
          }

          button {
            background-color: transparent;
            border: none;
            color: rgba(0, 0, 0, 0.4);
            font-weight: 500;
            font-size: 13px;
            width: 50px;
            cursor: pointer;
          }
        }
      }
      img {
        border-radius: 0 40px 0 40px;
      }
    }
  }
}
