@import "../../styles/common";

.Toppings {
  font-family: $subwayFont;
  height: 150vh;
  .topping-wrap {
    display: flex;
    justify-content: center;
    // align-items: center;
    margin: 100px auto;
    height: calc(150vh - 150px);

    .main {
      ul {
        display: flex;
        justify-content: space-evenly;
        height: 40px;
        font-size: 120%;
        font-weight: 700;
        cursor: pointer;
      }

      .toppingbox-wrap {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
      }
    }
    .right-bar {
      display: flex;
      flex-direction: column;
      max-width: 300px;

      .AddToppingBox {
        border: 2px solid #ddd;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 345px;
        height: 360px;
        padding: 40px;

        .order_wrapper {
          .title {
            font-size: 1.8rem;
            @include customTitle;
            padding-bottom: 20px;
          }
          div {
            display: flex;
            //   justify-content: flex-end;
            .price {
              font-size: 1.5rem;
              @include customTitle;
              padding-bottom: 20px;
              &::after {
                content: "|";
                padding: 0 20px;
              }
            }
            .cals {
              font-size: 1.5rem;
              @include customTitle;
            }
          }
          .size {
            font-size: 1.2rem;
            @include customTitle;
            text-transform: uppercase;
            border-bottom: 5px solid $subwayYellow;
            width: 40%;
          }
          .button_wrapper {
            display: flex;
            flex-direction: column;
            padding: 30px 0;

            button {
              padding: 12px 0;
              margin-bottom: 15px;
              font-size: 1.2rem;
              font-weight: 600;
              outline: none;
              cursor: pointer;

              &:first-child {
                background-color: $subwayGreen;
                color: $fontWhite;
                margin-top: 50px;
                box-shadow: none;
              }
              // &:last-child {
              //   background-color: white;
              //   color: $subwayGreen;
              //   text-decoration: none;
              //   border: 0.8px solid rgba(0, 0, 0, 0.4);
              // }
            }

            .activeOrder {
              opacity: 1;
            }
          }
        }
      }

      .caution {
        margin: 40px auto;
        font-size: 16px;
        line-height: 1.4;
      }
    }
  }
}
