@import "../../styles/common";

.SignUp {
  font-family: $subwayFont;
  background-color: $fontYellow;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .signup-wrap {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid $fontYellow;
    border-radius: 10px;
    padding: 50px 100px;
    background-color: #ffffff;
    height: calc(100vh-200px);

    .input-info {
      display: flex;
      flex-direction: column;

      img {
        margin-top: 50px;
        margin-bottom: 70px;
      }

      .advise {
        font-size: 130%;
        font-weight: 500;
        margin-bottom: 50px;
        color: $fontGreen;
        border-radius: 10px;
        line-height: 1.5;
        letter-spacing: 1.2;
        padding: 10px;
        text-align: center;
      }

      .label {
        color: $fontYellow;
        opacity: 1;
      }

      .input-box {
        margin: 10px auto 30px;
        border: none;
        border-bottom: 2px solid $fontYellow;
        width: 300px;
        line-height: 20px;
        outline: none;
        padding: 0 0 8px;
      }

      .signup-bt {
        width: 100%;
        margin: 30px auto;
        height: 50px;
        border: 0;
        outline: 0;
        background-color: $fontYellow;
        opacity: 0.5;
        color: $fontGreen;
        font-weight: 700;
        border-radius: 10px;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
