@import "../../styles/common";

.Nav {
  height: 60px;

  ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
    li {
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        .isHover {
          opacity: 1;
          color: $fontGrey;
          display: list-item;
          font-size: 14px;
          line-height: 19px;
        }
      }
      .isHover {
        opacity: 0;
      }

      .visible {
        overflow: hidden;
        background-color: $fontWhite;
      }
    }
  }
}
