@import '../../styles/_common.scss';


.menuWrap{
    margin: 0 auto;
    width: 100%;
    .menuTop {
        //z-index: -10;
        width: 100%;
    }
    .menuMiddel {
        //z-index: 10;
        width: 100%;
    }
    .menuLine {
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        //z-index: 50;
    }
}
