@import '../../styles/_common.scss';


.menuWrap{
    //margin: 0 auto;
    width: 100%;
    .menuTop {
        width: 100%;
    }
    .menuMiddle {
        width: 100%;
        margin: 0 auto;
       
    }
    .menuLine {
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
    }
}
